@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll-behaviour to smooth */
html {
  scroll-behavior: smooth;
}

/* custamize native scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #cfd6e6;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
